.sections-sciences {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.sections-science-btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.extent-btn-science {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extent-btn-science button {
    width: 100px;
    height: 30px;
    background-color: var(--color_4);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.extent-btn-science button:hover {
    background-color: var(--color_7);
}

.sections-sciences-make {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}