:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

.About-this-blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 20px;
}
.About-this-blog p {
  width: 50%;
  height: auto;
  text-align: start;
  font-size: 18px;
}

.oficial-page{
  text-align: center;
  color: black;
  text-decoration: none;
}

.About-this-blog a {
  width: 240px;
  height: auto;
  background-color: var(--color_4);
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
  color: var(--color_1);
}
@media (hover: hover) {
  .About-this-blog a:hover {
    cursor: pointer;
    background-color: var(--color_4);
    box-shadow: black 0px 2px 4px 0px, black 0px 2px 16px 0px;
  }
}
@media (400px<=width<=800px) {
  .About-this-blog p {
    width: 70%;
  }
}

@media (width<400px) {
  .About-this-blog p {
    width: 90%;
    padding: 8px;
  }
  .About-this-blog a {
    width: 55%;
  }
}
