:root {
    --color_1: #ffffff;
    --color_2: #006400;
    --color_3: #add8e6;
    --color_4: #8b0000;
    --color_5: #001f3f;
    --color_6: #333333;
    --color_7: #000000;
}

.form-articles {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--color_6);
    border-radius: 8px;
    gap: 10px;
}

.form-article-create {
    font-size: 1.5em;
    text-align: center;
    color: var(--color_7);
    font-size: bold;
}

.form-articles label {
    font-size: 1.2rem;
    margin-left: 15%;
}

.form-article-input,
.form-article-image {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
}
 
 .form-article-textarea {
    width: 90%;
    height: 45%;
    padding: 5px;
    border: 1px solid #ccc;
 }
.form-article-progress {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.form-article-progress-inside {
    height: 100%;
    background-color: #007bff;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.form-article-tbn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-article-tbn:hover {
    background-color: #0056b3;
}

