:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

.main-card-article {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.article-card {
  width: 280px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--color_1);
  padding: 10px 5px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  cursor: pointer;
}
.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.article-card h4 {
  color: var(--color_5);
  text-align: left;
  font-size: 0.8rem;
}

.card-content-information {
  width: 270px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.card-title {
  width: 95%;
  color: var(--color_7);
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
}

.card-date {
  width: 50%;
  color: var(--color_5);
  font-size: 0.8rem;
  text-align: center;
}

.card-description {
  margin: 0;
  width: 95%;
  height: auto;
  color: var(--color_6);
  opacity: 0.8;
}

@media (hover: hover) {
  .article-card:hover {
    box-shadow: rgba(139, 0, 0, 0.5) 0px 10px 15px;
  }
}

@media (width <= 349px) {
  .article-card {
    transform: scale(0.7);
  }
}
