:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

.main-card-article {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.article-card {
  width: 280px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 0.01rem solid var(--color_6);
  border-bottom:  0.01rem solid var(--color_6);
  background-color: var(--color_1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;;
  transition: box-shadow 0.3s ease;
}

.article-card:hover{
  cursor: pointer;
  box-shadow: 0 5px 8px var(--color_4); 
}

.card-image {
  width: 90%;
  height: 150px;
  object-fit: cover;
}

.article-card h4{
  color: var(--color_6);
  text-align: left;
  font-size: 0.8rem;
}

.card-content-information {
  width: 270px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.card-title {
  width: 95%;
  color: var(--color_7);
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
}

.card-date {
  width: 50%;
  color: var(--color_6);
  font-size: 0.8rem;
  text-align: center;
}

.card-description {
  margin: 0;
  width: 95%;
  height: 100px;
  color: var(--color_7);
  line-height: 1.5;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card-description p {
  all: unset;
}


@media (hover: hover) {
  .article-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--color_4);
  }
}
@media (350px < width < 600px) {
  .article-card {
    transform: scale(0.9);
  }
}

@media (width <= 349px) {
  .article-card {
    transform: scale(0.7);
  }
}
