:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

.recent-news-card {
  width: 280px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  position: relative;
  row-gap: 12px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

@media (hover: hover) {
  .recent-news-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--color_4);
  }
}
.Body-cards {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recent-news-title {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: start;
}
.recent-body {
  font-size: 0.8rem;
  text-align: start;
  font-weight: normal;
}
.Photo-cards {
  width: 100%;
  height: 45%;
}
.recent-news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recen-btn {
  width: 100%;
  height: 32px;
  position: absolute;
  bottom: 0;
  border: none;
  left: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color_4);
  color: var(--color_1);
}

.recen-btn{
  font-size: 1.1rem;
}

@media (350px < width < 600px) {
  .recent-news-card {
    transform: scale(0.9);
  }
}

@media (width <= 349px) {
  .recent-news-card {
    transform: scale(0.7);
  }
}
