:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

.card-newyork {
  width: 280px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--color_1);
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  transition: box-shadow 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  cursor: pointer;
}

.new-york-card-link {
  text-align: center;
  text-decoration: none;
  color: black;
}

@media (hover: hover) {
  .card-newyork:hover {
    box-shadow: rgba(139, 0, 0, 0.5) 0px 10px 15px;
  }
}

.newyork-title {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.newyork-img {
  width: 90%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
}

.newyork-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newyork-information {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newyork-brief h3 {
  font-size: 0.8rem;
  font-weight: bold;
}

.newyork-brief {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 15px;
}
.newyork-brief img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
.newyork-description-autor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newyork-description-autor p {
  all: unset;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: normal;
  color: var(--color_6);
  opacity: .8;
}

.newyork-information h4 {
  font-size: 0.8rem;
  color: var(--color_5);
}

.newyork-img-autor {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

