:root {
    --color_1: #ffffff;
    --color_2: #006400;
    --color_3: #add8e6;
    --color_4: #8b0000;
    --color_5: #001f3f;
    --color_6: #333333;
    --color_7: #000000;
}

.card-newyork {
    width: 280px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 0.01rem solid var(--color_6);
    border-bottom:  0.01rem solid var(--color_6);
    background-color: var(--color_1);
    padding: 5px;
    transition: box-shadow 0.3s ease;
}

.card-newyork:hover {
   cursor: pointer;
   box-shadow: 0 5px 8px var(--color_4);
}

.newyork-title {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.newyork-img {
    width: 90%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}

.newyork-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newyork-information {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newyork-information h3{
    width: 100%;
    text-align: justify;
    font-size: 0.9rem;
}

.newyork-brief {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.newyork-description-autor {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newyork-description-autor p {
    all: unset;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.newyork-description-autor h4{
    width: 100%;
    text-align: justify;
    font-size: 0.8rem;
    color: var(--color_6);
}

.newyork-img-autor {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newyork-img-autor img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
}