:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

.container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inner-container {
  width: 700px;
  height: 700px;
  display: flex;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.inner-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px var(--color_4);
}


.inner-container-one {
  width: 450px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-container-one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-one-information {
  width: 240px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  position: absolute;
  left: -60px;
  border-radius: 5px;
  padding: 10px;
}

.container-one-information h2 {
  color: var(--color_7);
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: left;
}

.inner-container-two {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #F6F6F6;
}

@media(600px < width <=870px) {
  .inner-container {
    width: 500px;
    height: 500px;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .inner-container:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px var(--color_4);
  }
  
  
  .inner-container-one {
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .inner-container-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-one-information {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    position: absolute;
    left: -30px;
    border-radius: 5px;
    padding: 10px;
  }
  
  .container-one-information h2 {
    color: var(--color_7);
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: left;
  }
  
  .inner-container-two {
    width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F6F6F6;
  }
}

@media(412px < width <=600px) {
  .inner-container {
    width: 400px;
    height: 400px;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .inner-container:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px var(--color_4);
  }
  
  
  .inner-container-one {
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .inner-container-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-one-information {
    width: fit-content;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    position: absolute;
    left: 0px;
    border-radius: 0px;
    padding: 10px;
  }
  
  .container-one-information h2 {
    color: var(--color_7);
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: left;
  }
  
  .inner-container-two {
    width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F6F6F6;
  }
}

@media(375px < width <=412px) {
  .inner-container {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  
  .inner-container:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px var(--color_4);
  }
  
  
  .inner-container-one {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .inner-container-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-one-information {
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    position: absolute;
    left: calc(50% - 100px);
    border-radius: 0px;
    padding: 10px;
  }
  
  .container-one-information h2 {
    color: var(--color_7);
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 2.25rem;
    text-align: left;
  }

  .container-one-information p {
    display: none;
  }
  
  .inner-container-two {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F6F6F6;
  }
}

@media(200px < width <=375px) {
  .inner-container {
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 5px;
  }

  .inner-container:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px var(--color_4);
  } 
  
  .inner-container-one {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .inner-container-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-one-information {
    width: 180px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    position: absolute;
    left: calc(50% - 95px);
    border-radius: 0px;
    padding: 5px;
  }
  
  .container-one-information h2 {
    color: var(--color_7);
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1rem;
    line-height: 2.25rem;
    text-align: left;
  }

  .container-one-information p {
    display: none;
  }
  
  .inner-container-two {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F6F6F6;
  }
}