.container {
	columns: 3;
	width: 100%;
	column-gap: 32px;
}

.container img {
	border-radius: 4px;
	width: 100%;
	height: auto;
	margin-bottom: 32px;
}

@media (width <= 768px){
	.container {
		columns: 2;
		width: 100%;
		column-gap: 10px;
	}
	.container img {
		border-radius: 4px;
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}