:root {
  --base_color: #E9F6FA;
  --color_1: #DAF0F7;
  --color_2: #CBE9F4;
  --color_3: #A6DAEC;
  --color_4: #79C7E3;
  --color_5: #4DB5D9;
  --color_6: #4DB5D9;
  --color_7: #35A6CC;
  --color_8: #1E96BE;
  --color_9: #1C8EB4;
  --color_10: #1A85AB;
  --color_11: #17779A;
  --color_12: #146988;
  --color_13: #0F4E65;
  --color_14: #0D4559;
  --color_15: #103B49;
  --color_read: #FFFFFF;
}

.engineering_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.visualization-div-header {
  width: 100%;
  height: 60px;
  background-color: var(--color_1);
  position: fixed;
  top: 0;
  background: linear-gradient(to right, var(--color_15), var(--color_1));
}

.title-actualidad {
  font-size: 2rem;
  color: var(--color_1);
}

.description-actualidad {
  width: 60%;
  color: var(--color_3);
  margin-bottom: 60px;
}

.body-actualidad {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0.3rem;
}

.Card-actualidad {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color_read);
  padding: 0.4rem;
  border-radius: 4px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.news-number {
  width: 70px;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 0.1rem solid var(--color_15);
  margin-bottom: 20px;
}

.Card-actualidad-Editor {
  width: 100%;
  height: 15%;
  text-align: center;
  text-align: left;
  padding: 0.5rem;
  margin-left: 10%;
  font-weight: bold;
}

.Card-actualidad-body {
  width: 90%;
  height: 50%;
  margin-bottom: 20px;
  border-bottom: 0.1rem solid var(--color_15);
  vertical-align: baseline;
}

.Card-actualidad-Date {
  width: 100%;
  height: 15%;
  text-align: center;
  text-align: right;
  padding: 0.5rem;
  margin-right: 20%;
  font-weight: bold;
  font-size: 0.8rem;
}

.Card-social {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_13);
  border-radius: 5px;
  color: var(--base_color);
  gap: 10%;
}

.Card-social-btn {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-social-btn button {
  width: 24px;
  border: none;
  background: unset; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.Card-social-btn .bx {
  font-size: 24px;
  color: var(--base_color);
}

.Card-social-btn button:hover{
  background-color: var(--color_4);
  color: var(--color_15);
}
.Card-social-btn .bx:hover {
  font-size: 24px;
  color: var(--color_15);
}


@media (max-width: 650px) {
  .visualization-div-header {
    background: linear-gradient(to right, var(--color_1), var(--color_15));
  }

  .title-actualidad {
    font-size: 1rem;
    color: var(--color_1);
  }

  .description-actualidad {
    width: 75%;
    color: var(--color_3);
    margin-bottom: 50px;
  }

  .Card-actualidad-Editor {
    width: 100%;
    height: 15%;
    text-align: center;
    text-align: left;
    padding: 0.5rem;
    margin-left: 10%;
    font-weight: bold;
  }

  .body-actualidad {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0.3rem;
  }

  .Card-actualidad {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color_read);
    padding: 0.4rem;
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
}