:root {
    --base_color: #E9F6FA;
    --color_1: #DAF0F7;
    --color_2: #CBE9F4;
    --color_3: #A6DAEC;
    --color_4: #79C7E3;
    --color_5: #4DB5D9;
    --color_6: #4DB5D9;
    --color_7: #35A6CC;
    --color_8: #1E96BE;
    --color_9: #1C8EB4;
    --color_10: #1A85AB;
    --color_11: #17779A;
    --color_12: #146988;
    --color_13: #0F4E65;
    --color_14: #0D4559;
    --color_15: #103B49;
  }

  .engineering_section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .visualization-div-header {
    width: 100%;
    height: 60px;
    background-color: var(--color_1);
    position: fixed;
    top: 0;
    background: linear-gradient(to right, var(--color_15), var(--color_1));
  }
  
  @media (max-width: 650px) {
    .visualization-div-header {
      background: linear-gradient(to right, var(--color_1), var(--color_15));
    }
  }

  .title-actualidad {
    font-size: 2rem;
    color: var(--color_1);
  }

  .description-actualidad {
    width: 60%;
    color: var(--color_3);
  }

  .body-actualidad {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: blue;
    gap: 0.8rem;
    padding: 0.3rem;
  }

  .Card-actualidad {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding: 0.4rem;
  }

  .Card-actualidad-title {
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: green;
  }

  .Card-actualidad-body {
    width: 100%;
    height: 50%;
    text-align: center;
    text-align: justify;
  }

  .Card-actualidad-Editor {
    width: 100%;
    height: 15%;
    text-align: center;
    text-align: right;
    background-color: var(--base_color);
  }

  .Card-actualidad-Date {
    width: 100%;
    height: 15%;
    text-align: center;
    text-align: right;
  }