:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
}

.Main_header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  column-gap: 20px;
}

.Logo {
  width: auto;
  padding: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.Logo h1 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.Perfil {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: fixed;
  top: 0;
  right: 10px;
  padding: 8px;
  z-index: 1000;
  cursor: pointer;
}

.Perfil p {
  width: auto;
  font-size: 16px;
  font-weight: bold;
}

.Perfil img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: left top;
  border-radius: 50%;
}

.option {
  width: 35%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 300;
  transition: clip-path 0.3s ease-in-out;
  padding-top: 30px;
}

.option.off {
  clip-path: inset(0 100% 0 0);
}

.option.on {
  clip-path: inset(0 -8px 0 0);
}
.toolsUser {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-right: 2px solid #33333349;
  color: var(--color_6);
  opacity: 0.9;
}

.toolsUser .bx {
  width: auto;
  height: auto;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  top: 64%;
}

.box_list {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin-top: 43px;
}

.box_list.on {
  width: 80%;
}

.Close {
  width: 65%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;
}

.Close.off {
  display: none;
}

.Close.on {
  display: flex;
}

.enlace_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enlace_main div:first-child {
  display: flex;
  justify-content: center;
}

.enlace_main .bx {
  height: 100%;
  width: auto;
  font-size: 24px;
  position: relative;
  top: 0;
  left: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.enlace_main .bx.on {
  transform: rotate(180deg);
}

.Conten_subseccion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  margin-top: 1rem;
  clip-path: inset(0 0 0 0);
  transition: all 0.3s ease-in-out;
}

.Conten_subseccion.off {
  height: 0;
  margin-top: 0;
  clip-path: inset(0 0 100% 0);
}

.enlace {
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  color: black;
  scroll-snap-align: center;
  text-transform: capitalize;
}

.Menu_active {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
  background: transparent;
  gap: 0.4rem;
  margin-left: 15px;
  border-radius: 5px;

  div {
    background-color: black;
    height: 2px !important;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }
}

.Menu_active:hover {
  cursor: pointer;
}

.Menu_active.on {
  div {
    background-color: #8b0000;
  }

  div:first-child {
    transform: translate(4px, -4px) rotate(45deg);
  }

  div:nth-child(2) {
    opacity: 0;
  }

  div:last-child {
    transform: translate(4px, 4px) rotate(-45deg);
  }
}

@media (width<=630px) {
  .enlace {
    text-align: center;
    color: black;
    text-decoration: none;
  }
}

@media (width<=370px) {
  .Menu_active {
    width: 25px;
    height: 25px;
  }

  .Menu_active.on {
    div:first-child {
      transform: translate(5px, 0) rotate(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:last-child {
      transform: translate(5px, 0) rotate(-45deg);
    }
  }
}
@media (width<=480px) {
  .Perfil {
    width: 60%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    top: 50px;
    left: 0;
    right: auto;
    z-index: 300;
    padding: 8px 0 8px 8px;
    transition: clip-path 0.3s ease-in-out;
  }
  .Perfil .Name {
    width: 80vh;
  }
  .Perfil p {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .option.on ~ .Perfil {
    clip-path: inset(0 0 0 0);
  }
  .option.off ~ .Perfil {
    clip-path: inset(0 100% 0 0);
  }
  .box_list {
    height: 80%;
    margin-top: 80px;
  }
}

@media (400px<=width<=570px) {
  .option {
    width: 60%;
    row-gap: 1.2rem;
  }

  .Close {
    width: 40%;
  }
}

@media (width<400px) {
  .Perfil {
    width: 80%;
  }
  .option {
    width: 80%;
    row-gap: 0.8rem;
  }

  .Close {
    width: 20%;
  }
}
