:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
}

.Main_header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.Logo {
  width: 70%;
  padding: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.Logo h1 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.option {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 300;
  transition: all 0.3s ease-in-out;
  padding-top: 30px;
}

.option.off {
  transform: translateX(100%);
}

.option.on {
  transform: translateX(0%);
}

.Close {
  width: 65%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
.Close.off {
  transform: translateX(-100%);
}

.Close.on {
  transform: translateX(0%);
}

.enlace {
  font-size: 1rem;
  cursor: pointer;
}

.Menu_active {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
  background: transparent;
  gap: 0.4rem;
  margin-right: 15px;
  border-radius: 5px;

  div {
    background-color: black;
    height: 2px !important;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }
}

.Menu_active:hover{
  cursor: pointer;
}

.Menu_active.on {
  div {
    background-color: #8b0000;
  }

  div:first-child {
    transform: translate(4px, -4px) rotate(45deg);
  }

  div:nth-child(2) {
    opacity: 0;
  }

  div:last-child {
    transform: translate(4px, 4px) rotate(-45deg);
  }
}

@media (width<=630px) {
  .enlace {
    text-align: center;
  }
}

@media (width<=370px) {
  .Menu_active {
    width: 25px;
    height: 25px;
  }

  .Menu_active.on {
    div:first-child {
      transform: translate(5px, 0) rotate(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:last-child {
      transform: translate(5px, 0) rotate(-45deg);
    }
  }
}

@media (400px<=width<=570px) {
  .option {
    width: 60%;
    row-gap: 1.2rem;
  }

  .Close {
    width: 40%;
  }
}

@media (width<400px) {
  .option {
    width: 80%;
    row-gap: 0.8rem;
  }

  .Close {
    width: 20%;
  }
}