:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}
.Main_header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Logo {
  width: 70%;
  padding: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.Logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.Logo h1 {
  font-size: 0.8rem;
  font-family: "Protest Guerrilla", sans-serif;
  letter-spacing: 4px;
  font-weight: normal;
}
.option {
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 300;
  transition: all 0.3s ease-in-out;
}
.option.off {
  transform: translateX(100%);
}
.option.on {
  transform: translateX(0%);
}
.Close{
  width: 55%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
.Close.off {
  transform: translateX(-100%);
}
.Close.on {
  transform: translateX(0%);
}
.enlace:hover {
  cursor: pointer;
}
.enlace {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.enlace .bx {
  font-size: 30px;
  width: 30px;
}
.Logo:hover {
  cursor: pointer;
}
.Menu_active {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
  color: black;
  margin-right: 15px;
  .bx {
    font-size: 35px;
  }
}
.Menu_active.on {
  background-color: #8b0000;
  color: white;
}
@media (width<=630px) {
  .enlace {
    text-align: center;
  }
  .enlace .bx {
    font-size: 21px;
    width: 21px;
  }
}
@media (width<=370px) {
  .Menu_active {
    width: 25px;
    height: 25px;
    .bx {
      font-size: 25px;
    }
  }
}
@media (400px<=width<=570px){
  .option {
    width: 60%;
    row-gap: 1.2rem;
  }
  .Close{
    width: 40%;
  }
}
@media (width<400px) {
  .option{
    width: 80%;
    row-gap: .8rem;
  }
  .Close{
    width: 20%;
  }
  
}
@media (width<=450px) {
  .Logo img {
    width: 30px;
    height: 30px;
  }
}
