:root {
  --color_1: #FFFFFF;
  --color_2: #006400;
  --color_3: #ADD8E6;
  --color_4: #8B0000;
  --color_5: #001F3F;
  --color_6: #333333;
  --color_7: #000000;
}

.main_page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.Video {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;  
}

.Video img {
  width: 100%;
  display: block;
  left: 0;
}

.Video h1 {
  position: absolute;
  z-index: 10;
  font-size: 2.8rem;
  font-weight: bolder;
  letter-spacing: 45px;
  text-shadow: 2px 1px  var(--color_1);
}

.Video h2 {
  position: absolute;
  z-index: 10;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 15px;
  bottom: 75px;
  color: var(--color_1);
  text-shadow: 4px 4px 16px var(--color_3);
}
.Video h3 {
  position: absolute;
  z-index: 10;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 8px;
  bottom: 50px;
  color: var(--color_1);
  text-shadow: 4px 4px 16px var(--color_3);
}
.Video h4 {
  position: absolute;
  z-index: 10;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 8px;
  bottom: 25px;
  color: var(--color_1);
  text-shadow: 4px 4px 16px var(--color_3);
}

@media ( 650px <= width < 850px ) {

  .Video {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;  
  }

  .Video h2 {
    position: absolute;
    z-index: 10;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 15px;
    bottom: 50px;
    color: var(--color_1);
    text-shadow: 4px 4px 16px var(--color_3);
    transform: scale(0.75);
  }
  .Video h3 {
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 8px;
    bottom: 35px;
    color: var(--color_1);
    text-shadow: 4px 4px 16px var(--color_3);
    transform: scale(0.75);
  }
  .Video h4 {
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 8px;
    bottom: 15px;
    color: var(--color_1);
    text-shadow: 4px 4px 16px var(--color_3);
    transform: scale(0.75);
  }

}

@media ( width < 650px ) {

  .Video {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;  
  }
  .Video h1 {
    position: absolute;
    z-index: 10;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 0px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
    right: 5%;
    text-shadow: 2px 1px  var(--color_1);
  }

  .Video h2 {
    position: absolute;
    z-index: 10;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 15px;
    bottom: 75px;
    color: var(--color_1);
    text-shadow: 4px 4px 16px var(--color_3);
    transform: scale(0.65);
  }
  .Video h3 {
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 8px;
    bottom: 50px;
    color: var(--color_1);
    text-shadow: 4px 4px 16px var(--color_3);
    transform: scale(0.65);
  }
  .Video h4 {
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 8px;
    bottom: 25px;
    color: var(--color_1);
    text-shadow: 4px 4px 16px var(--color_3);
    transform: scale(0.65);
  }


}