:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

.Recent-news {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title-reciente {
  margin-top: 20px;
  margin-bottom: 50px;
}

.Title-flash {
  margin-top: 60px;
  margin-bottom: 40px;
}
