.Main-Seccion-id {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}
.Main-id {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: 100px;
  margin-bottom: 80px;
}
.Cuerpo {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}
.Title-id {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.img-id {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.Informacion {
  text-align: start;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.body-id {
  text-align: start;
  font-size: 18px;
}
.Compartir {
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.Compartir > button {
  width: 120px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: var(--color_4);
  color: white;
  gap: 2px;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 16px;
}
.Menu-compartir {
  width: 100%;
  height: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 170px;
  transition: transform 0.5s ease-in-out;
  z-index: 100;
}
.Menu-compartir.off {
  transform: translateX(-100%);
}
.Menu-compartir.on {
  transform: translateX(0%);
}
.Container-compartir {
  width: 480px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Boxicon-carusel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.Boxicon {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.Boxicon > .bx {
  width: 50px;
  height: 50px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.Boxicon > svg {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.Boxicon > p {
  text-align: center;
  font-size: 15px;
  margin: 0;
}
.Compartir-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Compartir-header > .bx {
  width: 50px;
  height: 50px;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  color: var(--color_4);
  cursor: pointer;
}
.Compartir-header > h2 {
  font-size: 20px;
  font-weight: bold;
}
.Close-Menu {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  background-color: white;
}
.Close-Menu.on {
  display: flex;
}
.Close-Menu.off {
  display: none;
}
@media (600px<=width<=960px) {
  .Cuerpo {
    width: 75%;
  }
  .Title-id {
    font-size: 21px;
  }
  .img-id {
    height: 300px;
  }
  .body-id {
    font-size: 16px;
  }
  .Compartir {
    width: 75%;
  }
}
@media (width<=600px) {
  .Menu-compartir {
    bottom: 0;
  }
  .Menu-compartir.off {
    transform: translateX(0%);
    transform: translateY(100%);
  }
  .Menu-compartir.on {
    transform: translateY(0%);
  }
  .Container-compartir {
    width: 75%;
    border-radius: 12%;
  }
  .Cuerpo {
    width: 85%;
  }
  .Title-id {
    font-size: 20px;
  }
  .img-id {
    height: 250px;
  }
  .body-id {
    font-size: 15px;
  }
  .Compartir {
    width: 85%;
  }
  @media (width<=400) {
    .Title-id {
      font-size: 18px;
    }
    .img-id {
      height: 200px;
    }
  }
}
