:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

.singles-article {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  overflow-x: hidden;
}

.button-link {
  width: auto;
  border: none;
  background-color: transparent;
  font-size: 1.1em;
  line-height: 1.6;
  color: var(--color_4);
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  text-align: left;
}

.button-link:hover {
  color: var(--color_5);
}

.single-card {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 100px;
  gap: 1rem;
}

.single-card .toleft {
  color: var(--color_7);
  font-weight: bold;
  font-style: italic;
  font-size: 1.9rem;
  line-height: 1.5;
  text-align: left;
}

.single-card .tocenter {
  color: var(--color_7);
  font-weight: bold;
  font-style: italic;
  font-size: 1.9rem;
  line-height: 1.5;
  text-align: center;
}

.Photo {
  width: 100%;
  height: auto;
  min-width: 250px;
  object-fit: cover;
  object-position: left top;
  border-radius: 2px;
  margin-top: 30px;
}

.single-out {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.single-information {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.single-information img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.single-out p {
  width: auto;
  font-size: 1rem;
  color: var(--color_6);
}

.single-out p:nth-child(2) {
  font-weight: bold;
  text-transform: capitalize;
}

.single-out p:last-child {
  color: var(--color_5);
}

.single-out .bx {
  width: auto;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.Menu_usuario {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 8px;
  background-color: var(--color_1);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  top: 100%;
  z-index: 100;
  right: 10px;
  transition: clip-path 0.3s ease-in-out;
}

.Menu_usuario.off {
  clip-path: inset(0 0 100% 0);
}
.Menu_usuario.on {
  clip-path: inset(-10px -10px -10px -10px);
}
.Option_user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.Option_user p {
  font-weight: normal !important;
}

.Option_user .bx {
  position: static;
}

.Option_user .bx.bx-message-square-x {
  color: var(--color_4);
}

.Close_user {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.Close_user.off {
  display: none;
}

.Close_user.on {
  display: flex;
}

@media (hover: hover) {
  .Option_user:hover {
    transform: scale(1.02);
  }
}

.single-description {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.single-description a {
  text-decoration: underline;
  color: var(--color_4);
  cursor: pointer;
}

.single-description blockquote {
  border-left: 4px solid #ccc;
  margin: 5px;
  padding-left: 16px;
  text-align: -webkit-match-parent;
  width: 90%;
  font-size: 1rem;
}

.single-description ol,
.single-description ul {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.single-description li {
  text-align: -webkit-match-parent;
  width: 90%;
  font-size: 1.12rem;
}

.single-description p {
  font-size: 1.12rem;
  color: var(--color_6);
}

.single-description p > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px 0;
}

.single-description h4 {
  color: var(--color_5);
  text-align: left;
  margin-top: 10px;
}

@media (width <=430px) {
  .single-out {
    height: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
  }
  .single-out p,
  .single-description blockquote {
    font-size: 0.87rem;
  }

  .single-description p,
  .single-description li {
    font-size: 1rem;
  }

  .single-card .toleft,
  .single-card .tocenter {
    font-size: 1.25rem;
  }

  .single-card {
    width: 350px;
  }

  @media (width<330px) {
    .single-card {
      width: 250px;
    }
  }
}
