:root {
    --color_1: #ffffff;
    --color_2: #006400;
    --color_3: #add8e6;
    --color_4: #8b0000;
    --color_5: #001f3f;
    --color_6: #333333;
    --color_7: #000000;
}

.post-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px solid var(--color_4);
    border-radius: 5px;
    overflow: hidden;
}

.post-content-div-1 {
    width: 100%;
    height: 50%;
}

.post-content-div-2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.post-content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-content-img:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px var(--color_4);
}

.post-content-title {
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-top: -25px;
    font-weight: bold;
}

.post-content-description {
    width: 90%;
    height: 130px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    font-size: 0.8rem;
}

.post-content-date {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.post-content-author {
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color_4);
    position: absolute;
    top: -13px;
    right: 30px;
}

.post-content-author h3 {
    text-align: center;
    color: var(--color_1);
}

.post-interact {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.post-interact-div {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.post-interact-div div {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
}

.delete-card {
    all: unset;
    display: flex;
}

.post-interact-div, .delete-card .bx {
    font-size: 1.1rem;
}

.delete-card .bx:hover {
    cursor: pointer;
}

.like-component {
    width: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-component>i {
    font-size: 1.1rem;
}

@media (365px <=width < 470px) {
    .post-content {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 500px;
        border: 1px solid var(--color_4);
        border-radius: 5px;
        overflow: hidden;
    }
}

@media (width < 365px) {
    .post-content {
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 500px;
        border: 1px solid var(--color_4);
        border-radius: 5px;
        overflow: hidden;
    }

    .post-interact {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 10px;
        left: 5px;
    }

    .post-content-date {
        width: auto;
        height: auto;
        position: absolute;
        bottom: 15px;
        right: 30px;
        font-size: 0.7rem;
    }
}