:root {
    --color_1: #ffffff;
    --color_2: #006400;
    --color_3: #add8e6;
    --color_4: #8b0000;
    --color_5: #001f3f;
    --color_6: #333333;
    --color_7: #000000;
}

.post-content {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
    border: 1px solid var(--color_4);
    border-radius: 5px;
    overflow: hidden;
}

.post-content-div-1 {
    width: 100%;
    height: 50%;
}

.post-content-div-2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.post-content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-content-title {
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.post-content-description {
    width: 90%;
    height: 130px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    font-size: 0.8rem;
}

.post-content-date {
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--color_7);
}

.post-content-author {
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color_4);
    position: absolute;
    top: -240px;
    right: 30px;
}

.post-content-author h3{
    text-align: center;
    color: var(--color_1);
}

.post-content-likes {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.post-content-likes .bx {
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.post-content-likes .bx:hover {
    cursor: pointer;
}

.delete-card {
    all: unset;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.delete-card .bx {
    font-size: 1.5rem;
}