:root {
    --color_1: #ffffff;
    --color_2: #006400;
    --color_3: #add8e6;
    --color_4: #8b0000;
    --color_5: #001f3f;
    --color_6: #333333;
    --color_7: #000000;
}

.comment-section {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
}

.Comments-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.comment-card {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color_4);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.display-comment {
    width: 95%;
    height: auto;
    padding: 0.3rem;
    border: 1px solid var(--color_4);
    color: var(--color_6);
}

.comment-user-information {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0.1rem;
}

.comment-user.green {
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(0, 65, 0);
    color: var(--color_1);
}

.comment-user.red {
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(106, 0, 0);
    color: var(--color_1);
}

.comment-date {
    width: auto;
    color: var(--color_7);
}

.delete-btn{
    width: auto;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.Comments-make {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
}

.comment-btn {
    width: 50px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--color_4);
    color: var(--color_1);
    transition: transform 0.3s ease-in-out;
    font-size: 1rem;
}

.comment-btn:hover {
    cursor: pointer;
    transform: scale(1.01); 
}


.create-comment {
    width: 92%;
    height: 70px;
    resize: vertical;
    padding: 0.2rem;
    position: relative;
}

.create-comment::placeholder {
    color: var(--color_4); 
    font-size: 1.2rem; 
    text-align: center;
}



