:root {
    --color_1: #ffffff;
    --color_2: #006400;
    --color_3: #add8e6;
    --color_4: #8b0000;
    --color_5: #001f3f;
    --color_6: #333333;
    --color_7: #000000;
}

.Container-post {
    position: absolute;
    top: 70px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #add8e6;
}