* {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: normal;
  font-style: normal;
  width: 100%;
}

:root {
  --color_1: #FFFFFF;
  --color_2: #006400;
  --color_3: #ADD8E6;
  --color_4: #8B0000;
  --color_5: #001F3F;
  --color_6: #333333;
  --color_7: #000000;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--color_1);
}


button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  all: unset;
}

a{
  all: unset;
}

.Blog {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-actualidad {
  display: block;
  width: 50%;
  height: auto;
  margin-bottom: 20px;
  margin-left: -40%;
}

.news-number {
  width: 70px;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 0.1rem solid var(--color_7);
  margin-bottom: 20px;
}

.Card-actualidad-title {
  width: 90%;
  height: 20%;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.loading-container {
 width: 100%;
 height: 100vh;
 background-color: var(--color_1);
 display: flex;
 justify-content: center;
 align-items: center;
}

.engineering_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.visualization-div-header {
  width: 100%;
  height: 60px;
  background-color: var(--color_1);
  position: fixed;
  top: 0;
  background: linear-gradient(to right, var(--color_7), var(--color_1));
}

.title-actualidad {
  font-size: 2rem;
  color: var(--color_7);
}

.description-actualidad {
  width: 60%;
  color: var(--color_7);
  margin-bottom: 60px;
}

.body-actualidad {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0.3rem;
}

.Card-actualidad {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color_1);
  padding: 0.4rem;
  border-radius: 4px;
  color: var(--color_7);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.news-number {
  width: 70px;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 0.1rem solid var(--color_7);
  margin-bottom: 20px;
}

.Card-actualidad-Editor {
  width: 100%;
  height: 15%;
  text-align: center;
  text-align: left;
  padding: 0.5rem;
  margin-left: 10%;
  font-weight: bold;
}

.Card-actualidad-body {
  width: 90%;
  height: 50%;
  margin-bottom: 20px;
  border-bottom: 0.1rem solid var(--color_7);
  vertical-align: baseline;
}

.Card-actualidad-Date {
  width: 100%;
  height: 15%;
  text-align: center;
  text-align: right;
  padding: 0.5rem;
  margin-right: 20%;
  font-weight: bold;
  font-size: 0.8rem;
}

.Card-social {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_4);
  border-radius: 5px;
  color: var(--color_1);
  gap: 10%;
}

.Card-social-btn {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-social-btn button {
  width: 24px;
  border: none;
  background: unset; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.Card-social-btn .bx {
  font-size: 24px;
  color: var(--base_color);
}

.Card-social-btn button:hover{
  background-color: var(--color_1);
  color: var(--color_7);
}
.Card-social-btn .bx:hover {
  font-size: 24px;
  color: var(--color_7);
}


@media (max-width: 650px) {
  .visualization-div-header {
    background: linear-gradient(to right, var(--color_1), var(--color_7));
  }

  .title-actualidad {
    font-size: 1rem;
    color: var(--color_7);
  }

  .description-actualidad {
    width: 75%;
    color: var(--color_7);
    margin-bottom: 50px;
  }

  .Card-actualidad-Editor {
    width: 100%;
    height: 15%;
    text-align: center;
    text-align: left;
    padding: 0.5rem;
    margin-left: 10%;
    font-weight: bold;
  }

  .body-actualidad {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0.3rem;
  }

  .Card-actualidad {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color_1);
    padding: 0.4rem;
    border-radius: 4px;
    color: var(--color_7);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
}
