* {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  line-height: 1.5;
}

:root {
  --color_1: #ffffff;
  --color_2: #006400;
  --color_3: #add8e6;
  --color_4: #8b0000;
  --color_5: #001f3f;
  --color_6: #333333;
  --color_7: #000000;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--color_1);
}

button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  all: unset;
}

a {
  all: unset;
}

.Blog {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-container {
  width: 100%;
  height: 35vh;
  background-color: var(--color_1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.Button-pagi > .bx {
  font-size: 28px;
}

.Button-pagi {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color_6);
  color: var(--color_4);
  cursor: pointer;
  border-radius: 10%;
  font-size: 16px;
}
.Button-pagi.on {
  border: none;
  background-color: var(--color_4);
  color: var(--color_1);
}
@media (width<=650px) {
  .Button-pagi > .bx {
    font-size: 23px;
  }
  .Button-pagi {
    width: 30px;
    height: 30px;
  }
}

.navigate-home {
  width: 100px;
  height: 30px;
  background-color: var(--color_4);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
.Toastify__close-button {
  width: 20px;
}

.login-hiden {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.login-hiden .bx{
  font-size: 1.5rem;
  position: absolute;
  bottom: 7px;
}
