* {
  font-family: 'OrkneyRegular';
  font-weight: normal;
  font-style: normal;
  width: 100%;
}

:root {
  --base_color: #E9F6FA;
  --color_1: #DAF0F7;
  --color_2: #CBE9F4;
  --color_3: #A6DAEC;
  --color_4: #79C7E3;
  --color_5: #4DB5D9;
  --color_6: #4DB5D9;
  --color_7: #35A6CC;
  --color_8: #1E96BE;
  --color_9: #1C8EB4;
  --color_10: #1A85AB;
  --color_11: #17779A;
  --color_12: #146988;
  --color_13: #0F4E65;
  --color_14: #0D4559;
  --color_15: #103B49;
  width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--color_1);
}


button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  all: unset;
}

.Blog {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}